<!doctype html>
<html lang="ro">
<head>
	<meta charset="UTF-8">
	<title>Conventii 1.0</title>
	<base href="/">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
	<div class="container">
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="/">Acasa</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Companii</li>
	  </ol>
	</nav>
		
	<h2>Companii</h2>
	<hr>
	
	<form action="#" th:action="@{/companie-update/{id}(id=${companie.id})}" th:object="${companie}" method="post">	  
		<div class="row row-cols-4">
			<div class="col-sm">
		    	<label for="nume">Nume</label>			    
	    	</div>
			<div class="col-sm">
		    	<input type="text" th:field="*{nume}" id="nume" name="nume" placeholder="Nume">
		    	<span th:if="${#fields.hasErrors('nume')}" th:errors="*{nume}"></span>
	    	</div>
			<div class="col-sm">
				&nbsp;
	    	</div>
			<div class="col-sm">
				&nbsp;
	    	</div>
    	</div>
    	
    	<hr>
	    
		<div class="row row-cols-4">
			<div class="col-sm">
			    <label for="reprezentant">Reprezentant</label>
	    	</div>
			<div class="col-sm">
			    <input type="text" th:field="*{reprezentant}" id="reprezentant" placeholder="Reprezentant">
			    <span th:if="${#fields.hasErrors('reprezentant')}" th:errors="*{reprezentant}"></span>
	    	</div>
		
			<div class="col-sm">
			    <label for="curentNominalPrimar">Calitate</label>
	    	</div>
			<div class="col-sm">
			    <input type="text" th:field="*{calitate}" id="calitate" placeholder="Calitate">
			    <span th:if="${#fields.hasErrors('calitate')}" th:errors="*{calitate}"></span>
	    	</div>
	    </div>

		<hr>
		
		<div class="row row-cols-4">
			<div class="col-sm">
			    <label for="adresa">Adresa</label>
	    	</div>
			<div class="col-sm">
			    <input type="text" th:field="*{adresa}" id="adresa" placeholder="Adresa">
			    <span th:if="${#fields.hasErrors('adresa')}" th:errors="*{adresa}"></span>
	    	</div>
		
			<div class="col-sm">
			    <label for="telefon">Telefon</label>
	    	</div>
			<div class="col-sm">
			    <input type="text" th:field="*{telefon}" id="telefon" placeholder="Telefon">
			    <span th:if="${#fields.hasErrors('telefon')}" th:errors="*{telefon}"></span>
	    	</div>
	    </div>
		
		<hr>
		
	    <input type="submit" value="Salveaza companie">
	</form>
	</div>
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
