<!doctype html>
<html lang="ro">
<head>
	<meta charset="UTF-8">
	<title>Conventii 1.0</title>
	<base href="/">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
	<div class="container">
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="/">Acasa</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Studenti</li>
	  </ol>
	</nav>	

	<h2>Studenti</h2>
	<hr>
	
	<form action="#" th:action="@{/student-create-save}" th:object="${student}" method="post">
		<div class="row row-cols-4">
			<div class="col-sm">
		    	<label for="nume">Nume</label>			    
	    	</div>
	    	
			<div class="col-sm">
		    	<input type="text" th:field="*{nume}" id="nume" name="nume" placeholder="Nume">
		    	<span th:if="${#fields.hasErrors('nume')}" th:errors="*{nume}"></span>
	    	</div>
	    	
			<div class="col-sm">
		    	<label for="codEchipament">Prenume</label>			    
	    	</div>
	    	
			<div class="col-sm">
		    	<input type="text" th:field="*{prenume}" id="prenume" name="prenume" placeholder="Prenume">
		    	<span th:if="${#fields.hasErrors('prenume')}" th:errors="*{prenume}"></span>
	    	</div>
    	</div>

		<hr>
	    
		<div class="row row-cols-4">
			<div class="col-sm">
			    <label for="cnp">CNP</label>
	    	</div>
			<div class="col-sm">
			    <input type="text" th:field="*{cnp}" id="cnp" placeholder="CNP">
			    <span th:if="${#fields.hasErrors('cnp')}" th:errors="*{cnp}"></span>
	    	</div>
		
			<div class="col-sm">
				&nbsp;
	    	</div>
			<div class="col-sm">
				&nbsp;
	    	</div>
	    </div>

		<hr>

		<div class="row row-cols-4">
			<div class="col-sm">
			    <label for="dataNasterii">Data nasterii</label>
	    	</div>
	    	
			<div class="col-sm">
			    <input type="text" th:field="*{dataNasterii}" id="dataNasterii" placeholder="Data nasterii">
			    <span th:if="${#fields.hasErrors('dataNasterii')}" th:errors="*{dataNasterii}"></span>
	    	</div>

			<div class="col-sm">
			    <label for="loculNasterii">Locul nasterii</label>
	    	</div>
	    	
			<div class="col-sm">
			    <input type="text" th:field="*{loculNasterii}" id="loculNasterii" placeholder="Locul nasterii">
			    <span th:if="${#fields.hasErrors('loculNasterii')}" th:errors="*{loculNasterii}"></span>
	    	</div>
	    </div>

		<hr>

		<div class="row row-cols-4">
			<div class="col-sm">
			    <label for="cetatenie">Cetatenie</label>
	    	</div>
			<div class="col-sm">
			    <input type="text" th:field="*{cetatenie}" id="cetatenie" placeholder="Cetatenie">
			    <span th:if="${#fields.hasErrors('cetatenie')}" th:errors="*{cetatenie}"></span>
	    	</div>
		
			<div class="col-sm">
			    <label for="adresa">Adresa</label>
	    	</div>
			<div class="col-sm">
			    <input type="text" th:field="*{adresa}" id="adresa" placeholder="Adresa">
			    <span th:if="${#fields.hasErrors('adresa')}" th:errors="*{adresa}"></span>
	    	</div>
	    </div>
	    
		<hr>
		
		<div class="row row-cols-4">
			<div class="col-sm">
			    <label for="serieCi">Serie CI</label>
	    	</div>
			<div class="col-sm">
			    <input type="text" th:field="*{serieCi}" id="serieCi" placeholder="Serie CI">
			    <span th:if="${#fields.hasErrors('serieCi')}" th:errors="*{serieCi}"></span>
	    	</div>
		
			<div class="col-sm">
			    <label for="numarCi">Numar CI</label>
	    	</div>
			<div class="col-sm">
			    <input type="text" th:field="*{numarCi}" id="numarCi" placeholder="Numar CI">
			    <span th:if="${#fields.hasErrors('numarCi')}" th:errors="*{numarCi}"></span>
	    	</div>
	    </div>

		<hr>

		<div class="row row-cols-4">
			<div class="col-sm">
			    <label for="facultate">Facultate</label>
	    	</div>
			<div class="col-sm">
			    <input type="text" th:field="*{facultate}" id="facultate" placeholder="Facultate">
			    <span th:if="${#fields.hasErrors('facultate')}" th:errors="*{facultate}"></span>
	    	</div>
		
			<div class="col-sm">
			    <label for="specializare">Specializare</label>
	    	</div>
			<div class="col-sm">
			    <input type="text" th:field="*{specializare}" id="specializare" placeholder="Specializare">
			    <span th:if="${#fields.hasErrors('specializare')}" th:errors="*{specializare}"></span>
	    	</div>
	    </div>

		<hr>
		
		<div class="row row-cols-4">
			<div class="col-sm">
			    <label for="anUniversitar">An universitar</label>
	    	</div>
			<div class="col-sm">
			    <input type="text" th:field="*{anUniversitar}" id="anUniversitar" placeholder="An universitar">
			    <span th:if="${#fields.hasErrors('anUniversitar')}" th:errors="*{anUniversitar}"></span>
	    	</div>
		
			<div class="col-sm">
			    <label for="anDeStudiu">An de studiu (2 sau 3)</label>
	    	</div>
			<div class="col-sm">
			    <input type="text" th:field="*{anDeStudiu}" id="anDeStudiu" placeholder="An de studiu">
			    <span th:if="${#fields.hasErrors('anDeStudiu')}" th:errors="*{anDeStudiu}"></span>
	    	</div>
	    </div>

		<hr>
		
		<div class="row row-cols-4">
			<div class="col-sm">
			    <label for="adresa">Email</label>
	    	</div>
			<div class="col-sm">
			    <input type="text" th:field="*{email}" id="email" placeholder="Email">
			    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
	    	</div>
		
			<div class="col-sm">
			    <label for="telefon">Telefon</label>
	    	</div>
			<div class="col-sm">
			    <input type="text" th:field="*{telefon}" id="telefon" placeholder="Telefon">
			    <span th:if="${#fields.hasErrors('telefon')}" th:errors="*{telefon}"></span>
	    	</div>
	    </div>
		
		<hr>
		
	    <input type="submit" value="Salveaza student">
	</form>
	</div>
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
